.home_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4em 2em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.home_container h1 {
    margin-bottom: 0.4em;
}

.home_container h1 span {
    color: #58C411;
}

.home_container p {
    margin-bottom: 3em;
    font-size: 20px;
}

.home_container img {
    width: 400px;
    margin: 1em 0;
}