    .message {
        width: 100%;
        padding: 2em;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2em;
        border-radius: 16px;
        border: 2px solid #204749;
    }

    .success {
        background-color: #c2f0a4;
    }

    .success p {
        color: #204749;
    }
    
    .error {
        background-color: #ff464646;
    }

    .error p {
        color: #204749;
    }