* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  font-family: "Inter Tight", sans-serif;
  background-color: #FFFFFF;
}

h1 {
  font-family: "Fustat", sans-serif;
  font-weight: 600;
  font-size: 64px;

  color: #204749;
  letter-spacing: -0.04em;
  line-height: 1.1;
}

h2 {
  font-family: "Fustat", sans-serif;
  font-weight: 600;
  font-size: 32px;

  color: #204749;
  letter-spacing: -0.02em;
}

p {
  font-size: 16px;
  font-weight: 400;

  color: #4C5267;
  line-height: 1.6;
}

a {
  font-family: "Fustat", sans-serif;
  font-weight: 600;
}